@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=PT+Sans+Narrow:wght@400;700&family=Prompt:wght@200;300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=PT+Sans+Narrow:wght@400;700&family=PT+Serif:wght@400;700&family=Prompt:wght@200;300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap');


/* dark brown #862B0D
begie #FFF9C9
gold #FFC95F
grey #B5C99A*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background: #FFF9C9
    
}

header .logo {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style-type: none;

}

header ul li a {
    display: inline-block;
    color: #862B0D;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    padding: 0 10px;
    position: relative;
}

header ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFC95F;
    transition: 0.3s;

}

header ul li a:hover::after {
    width: 100%;
}

#contact {
    background-color: #FFF9C9 ;
}

#contact .contact_photo {
    background-image:url(image/contact_photo.jpg);
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
    position: relative;
}

#contact .statement .contact_title{
    position: absolute;
    
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#contact .statement .contact_title h1 {
    color: #f0f0f0;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 70%;
}

#contact .statement .contact_title hr {
    width: 120px;
    margin: 0 auto;
}


#contact .bg_overlay_first {    
    
    width: 100%;
    height: 500px;
    background-color:rgba(0,0,0,0.5);
}

/* ----------contact body------------ */


#contact .contact_body {
    display: flex;
    background-color: #ffffff;    
}

#contact .contact_form {
    width: 60%;
    padding: 20px 0 20px 100px;   
}

#contact .contact_form p {
    color: #FFC95F;
    font-size: 12px;
    font-weight: 500;
}

#contact .contact_form h3 {
    font-family:'EB Garamond', serif; 
    color: #333;
}

#contact .contact_form hr {
    width: 100px;
    height: 2px;
    background-color: #FFC95F;
    border: none;
    margin: 5px 0 15px 0;
}

#contact .contact_form input,textarea {
    outline: none;
    border: none;
    background: #f3f3f3;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#contact .contact_form input {
    width: 226px;
}
#contact .contact_form .button{
    width: 150px;
    background: #FFC95F;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}


#contact .contact_form input,textarea::placeholder {
    font-size: 11px;
}



#contact .contact_info {
    
    width: 40%;
    background-color: #fbfbfb;
    position: relative;
}

#contact .contact_info .contact_info_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0 0 40px;
    
}

#contact .contact_info_data {
    display: flex; 
}

#contact .contact_info_data i {
    position: relative;
    top: 50%;
    transform: translateY(40%);
    color: #FFC95F;

}

#contact .contact_info_text {
    padding: 0 20px;
    margin: 10px;
}

#contact .contact_info_text h3 {
    font-size: 20px;
    color: #7a442c;
    font-weight: 600;
}

#contact .contact_info_text p {
    font-size: 12px;
    color: #7a442c;
}

iframe{
    width: 100%;
}


#footer {        
    background-image:url(image/cafe_interior.jpeg);
    /* background-attachment:fixed; */
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;       
}

#footer .bg_overlay_second {
width: 100%;
height: 500px;
background-color:rgba(0,0,0,0.8);
}

#footer .footer_container {
width: 100%;
height: 500px;
padding: 30px 50px;
display: flex;
justify-content: space-around;
}

#footer h2 {
color: #fff;
font-size: 25px;
margin-bottom: 30px;
text-transform: uppercase;

}

#footer h4 {
color: #fff;

}



#footer .latest_posts_info hr,#footer .contact_us hr {
margin: 20px 0;
height: 1px;
border: none;
background-color: #FFC95F;
}

#footer .latest_posts_info p {
color: #FFC95F;
font-size: 18px;
font-family: 'PT Serif', serif;;
}
#footer .contact_us .contact_us_info {
display: flex;
}

#footer .contact_us .contact_us_info span {
color: #FFC95F;
}
#footer .contact_us .contact_us_info i{
color: #fff;
margin-right: 4px;
}

#footer .other_place .other_place_info img {
width: 50px;
height: 50px;
}

#footer .our_outlets p{
color: #f0f0f0;
}

#footer .other_place .other_place_info {
display: flex;
margin-bottom: 10px;
}

#footer .other_place .other_place_info p {
padding: 10px;
color: #f0f0f0;
}

#footer .copyRight {
display: flex;
justify-content: space-around;
background-color: #000;
padding: 40px 0;
}

#footer .copyRight .copyRight_p {
font-size: 14px;
color: #f0f0f0;

}

#footer .copyRight .copyRight_p span {
color: #FFC95F;
}
.copyRight .copyRight_social i{
color: #f0f0f0;
padding: 0 10px;
font-size: 20px;
}

/* Feedback */

/* dark brown #862B0D
choco #a38574
begie #FFF9C9
gold #FFC95F
rgb(214, 71, 138)
grey #B5C99A*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
  }
  
  ::placeholder{
    color: #7a442c;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    /* background: url(./.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form{
    background-color:#fbfbfb;
    /* opacity: 95%; */
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border: 0.1px solid #FFC95F;
    border-radius: 5px;
  }
  
  form h3{
    color: #7a442c;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid  #FFC95F;
  }
  
  form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #fff7e8;
    font-size: 16px;
  }
  
  form button{
    padding: 15px;
    background-color: #FFC95F;

    /* background: linear-gradient(
      to right,
      #7a442c,
      #ef3e91
    ); */
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 120px;
    margin: 10px auto 0;
    border-radius: 30px;
  } 